body {
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-style: normal;
  font-weight: normal;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: rgba(255, 255, 255, 0);
  margin: auto;
}
.img-position {
  margin: 40px 0 40px 0;
}
/* .about-me-section */

.about-me-section {
  margin: 0 0 0 0;
}

/* main-content-section */

.about-me-profession {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 17px;
  color: #3a9efd;

  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bolder;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}
.about-me-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
/* my-projects-section */

.my-projects-section {
  margin: 0 0 50px 0;
}
.my-projects-list {
  padding: 0 0 0 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.my-projects-item {
  color: #000;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
}
.my-projects-text {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: underline;
}
.my-projects-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #2a6fdb;
}
.my-projects-items {
  margin-right: 8px;
}

.item-container {
  display: flex;
}
.my-projects-list-item-text {
  font-family: 'Montserrat';
  font-weight: 500;
  color: #595959;
  margin-left: 5px;
}

/* My work experience */
.my-work-experience-company-color {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.my-work-experience-positiom {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10 0;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10 0;
}
.my-work-experience-period-slashline {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.my-work-experience-duty {
  padding: 0 0 0 18px;
}
.my-work-experience-step {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  color: #595959;
}
.my-work-experience-company-block {
  margin: 0 15px 0 0;
}
/* my-education */

.my-education-name-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.main-content-section {
  background-color: #fff;
  margin: 20px 45px 20px 0;
  padding: 100px 90px;
}

/* sidebar-section */
.sidebar-section {
  background-color: #1e2939;
  color: whitesmoke;
  margin: 20px 0px 20px 0;
  width: 370px;
}
.aside-contacts-margin {
  margin: 50px 0 0 40px;
}
.aside-tech-skills-margin {
  margin: 50px 0 0 40px;
}
.aside-soft-skills-margin {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #3a9efd;
  margin-bottom: 10px;
}
/* contacts sectiot in sidebar */
.contact-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #ffffff;
  margin-right: 7px;
}
.bgcolor-contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  /* line-height: 24px; */
  /* or 171% */
  color: #ffffff;
  text-decoration-line: underline;
  /* background-color: whitesmoke; */
}
.bgcolor-contacts-text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;

  color: #ffffff;
}

.social-container {
  display: flex;
  /* margin-top: px; */
}
.social-container-item {
  margin-right: 10px;
  margin-top: 10px;
}
.-skills-list {
  padding: 0 0 0 17px;
}
.skills-item {
  color: #fb6d3a;
}
.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #ffffff;
}
